
.ipynb_checkpoints/He_date_calc-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
He_date_calc-jvsc-126f5beb-79e8-4291-90ea-b528c938b11f7592c919-d944-4776-ac87-49dda69d8571.ipynb
.gitignore
