
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
projects_2023/OT23_Michigan_Basin/.ipynb_checkpoints/He_line_calc_OT23_Michigan_Basin-checkpoint.ipynb
projects_2023/OT23_Michigan_Basin/.ipynb_checkpoints/He_date_calc_OT23_Michigan_Basin-checkpoint.ipynb
