
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
.ipynb_checkpoints/He_line_calc-checkpoint.ipynb
